body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainLayout {
    height: 100vh;
}

.loadingSpinner {
    top: 50vh;
}

.list-layout {
    overflow-y: auto;
}

.important {
    font-weight: 500;
}

.headerStyle {
    height: 121px;
    padding-top: 5px;
    text-align: center;
    padding-inline: 50px;
    line-height: 64px;
    background-color: #F8F9FA;
    margin: 10px;
    box-shadow: 0 .5rem 1rem #00000026!important;
}

.footerStyle {
    text-align: center;
    backgroundColor: #7dbcea;
    height: 20px;
    padding: 0px;
}
